.ff1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
.ff2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
.ff3{
    font-family: fantasy;
    font-size: medium;
}
.ff4{
    font-family: cursive;
    font-size: small;
}
.ff5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
}
.ff6{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-small;
}